<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="IsSetupDatabase" value="0" />
		<add key="NotificationQueueServiceHostAddress" value="net.tcp://127.0.0.1/NotificationQueueService" />
		<add key="HoldTimerOnProcess" value="1" />
		<add key="DatabaseSchemeName" value="dbo" />
		<add key="QueueIntervalMilliseconds" value="2000" />
		<add key="MaxItemsInPerRequest" value="5" />
		<add key="MaxRetryCount" value="5" />

		<!-- Email Config -->
		<add key="SenderName" value="Zirve Yazılım" />
		<add key="SenderEmailAddress" value="caner.aras@zirveyazilim.net" />
		<add key="SenderEmailUsername" value="caner.aras@zirveyazilim.net" />
		<add key="SenderEmailPassword" value="cafa1508" />
		<add key="MailServer" value="webmail.zirveyazilim.net" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpSSLEnabled" value="0" />

		<!--Azure Mail Credentials-->
		<!--<add key="AzureUserName" value="******" />
		<add key="AzurePassword" value="******" />
		<add key="AzureSenderMailAdress" value="******" />-->
    
		<!--SmartMessage Mail Credentials-->
    <add key="SmartMessageUserName" value="*****" />
    <add key="SmartMessagePassword" value="*****" />
    <add key="SmartMessageEndPoint" value="http://demo.smartmessage.com.tr/api/service.asmx" />
    <add key="SmartMessageLogRequest" value="false" />




    <add key="ProxyServer" value="http://iproxy:8080" />
    <add key="ProxyUserName" value="****" />
    <add key="ProxyPassword" value="****" />
    <add key="UseProxyDomain" value="true" />
    <add key="ProxyDomain" value="INNOVA" />

	</appSettings>

	<!--WebProxy kullanılması için bu alan açılmalı -->
	<!--<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="false">
			<module type="Zirve.NotificationEngine.Host.CustomWebProxy, Zirve.NotificationEngine.Host"/>
		</defaultProxy>
	</system.net>-->

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>