<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="GateLoggerAppender" xdt:Locator="Match(name)">
      <file value="#{LogBasePath}\\APP\\Zirve.NotificationEngine.Host\\GateLogger\\" xdt:Transform="Replace" />
    </appender>
    <appender name="infoAppender" xdt:Locator="Match(name)">
      <file value="#{LogBasePath}\\APP\\Zirve.NotificationEngine.Host\\INFO\\" xdt:Transform="Replace" />
    </appender>
    <appender name="warningAppender" xdt:Locator="Match(name)">
      <file value="#{LogBasePath}\\APP\\Zirve.NotificationEngine.Host\\WARN\\" xdt:Transform="Replace" />
    </appender>
    <appender name="debugAppender" xdt:Locator="Match(name)">
      <file value="#{LogBasePath}\\APP\\Zirve.NotificationEngine.Host\\DEBUG\\" xdt:Transform="Replace" />
    </appender>
    <appender name="errorAppender" xdt:Locator="Match(name)">
      <file value="#{LogBasePath}\\APP\\Zirve.NotificationEngine.Host\\ERROR\\" xdt:Transform="Replace" />
    </appender>
    <appender name="NHibernateAppender" xdt:Locator="Match(name)">
      <file value="#{LogBasePath}\\APP\\Zirve.NotificationEngine.Host\\NHibernate\\" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>