<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="GateLoggerAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="LOGS\\GateLogger\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <DatePattern value="yyyy-MM-dd\\yyyy-MM-dd-HH'_gatelogger.txt'" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <countDirection value="1" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %message%newline%exception" />
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="LOGS\\INFO\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <DatePattern value="yyyy-MM-dd\\yyyy-MM-dd-HH'_info.txt'" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <countDirection value="1" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %-5level %message%newline%exception " />
      </layout>
    </appender>
    <appender name="warningAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="LOGS\\WARN\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <DatePattern value="yyyy-MM-dd\yyyy-MM-dd-HH'_warning.txt'" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <countDirection value="1" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8"/>>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %-5level %message%newline%exception" />
      </layout>
    </appender>
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="LOGS\\DEBUG\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <DatePattern value="yyyy-MM-dd\\yyyy-MM-dd-HH'_debug.txt'" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <countDirection value="1" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %-5level %message%newline%exception" />
      </layout>
    </appender>
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="LOGS\\ERROR\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <DatePattern value="yyyy-MM-dd\\yyyy-MM-dd-HH'_error.txt'" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <countDirection value="1" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %-5level %message%newline%exception" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%message%newline%exception" />
      </layout>
    </appender>
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="LOGS\\NHibernate\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <DatePattern value="yyyy-MM-dd\\yyyy-MM-dd-HH'.txt'" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <countDirection value="1" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %-5level %message%newline%exception" />
      </layout>
    </appender>


    <logger name="PayFlex.Collection.Infrastructure.Logging.Log4net.Log4netLogger">
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="errorAppender" />
      <appender-ref ref="infoAppender" />
      <appender-ref ref="debugAppender" />
      <appender-ref ref="warningAppender" />
    </logger>
    <logger name="NHibernate">
      <level value="ERROR" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="GateLogger">
      <level value="ALL" />
      <appender-ref ref="GateLoggerAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
</configuration>