<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <GlobalNHibernateProperties>

        <!-- MsSql Config -->
        <session-factory name="NHibernate">
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="prepare_sql">false</property>
            <property name="show_sql">false</property>
            <property name="hbm2ddl.keywords">none</property>
            <property name="adonet.batch_size">9999</property>
            <property name="cache.use_second_level_cache">false</property>
            <property name="cache.use_query_cache" >false</property>
        </session-factory>

    </GlobalNHibernateProperties>

    <databaseCfg FactoryKey="" ConfigFile="">
        <ConfigProperties>

          <!-- MsSql Config -->
          <property name="connection.connection_string">Data Source=DESKTOP-JNKDM0A;Initial Catalog=NotificationEngine;Persist Security Info=True;User ID=sa;Password=zrvsql</property>


        </ConfigProperties>
        <mappingAssemblies>
            <add>Payflex.NotificationEngine.Core</add>
        </mappingAssemblies>
    </databaseCfg>

</configuration>