<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <databaseCfg FactoryKey="nhibernate.cfg" ConfigFile="">
      <ConfigProperties>
        <property name="connection.connection_string" xdt:Transform="Replace">#{NotificationDbConnectionString}</property>
      </ConfigProperties>
    </databaseCfg>
</configuration>